* {
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
}
body {
    margin: 0%;
}
#toppart {
    background-image: url(images/image1.webp);
    
    height: 900px;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 30px;
}
header{
width: 100%;
height: 68px;
margin: auto;
display: flex;
background-color: #f3efe8;
align-items: center;
justify-content: space-between;
}
#logo{
    
    color: #31482e;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    height: 140%;
}
#logo img{
    height: 100%;
    width: clamp(200px, 17vw, 400px);
    margin: auto;
}
nav {
    width: 50%;
    
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    
}
#navbar {
    display: flex;
    justify-content: space-evenly;

    
    padding: 0;
}
#navbar a {
    color: #6c7169;
    
    text-decoration: none;
    font-size: 1.3rem;
}
h2 {
    color: #fbfaf8;
    text-align: center;
    padding-top: 180px;
    font-size: 3.5rem;
    margin-bottom: 30px;
}
#transform {
    background-color: rgba(000, 000, 000, 0.7);
    color: #fafbf1;
    font-size: 1.3rem;
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
#freequote {
    width: 250px;
    color: #e1e7de;
    background-color: #3b5835;
    margin: 25px auto;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 10px;
}
#oser {
    padding-top: 30px;
    
    background-color: #f7f3ee;
}
.hrwrap{
    position: relative;
    
}
.line {
    width: 90%;
    border: 1px solid #d2cfc1;
    margin: auto;
    
    
}
.os {
    position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -50%);
 color: #314e30;
 font-size: 2rem;
 font-weight: 500;
 padding: 0% 20px;
 margin: 0%;
 
 
}
#ser{
background-color: #f7f3ee;
}
#imgcontainerbig{
    display: flex;
    justify-content: center;
   
}
.imagecontainers{
    padding: 0%;
    margin: 0%;
    justify-content: center;
    width: 25%;
    box-sizing: border-box;
    border-right: 1px solid #d2cfc1;
}
.imagecontainers:nth-child(4){
    border-right: none;
}
.imagecontainers img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
#portfolio {
    background-color: #f3efe8;
}
#oportfolio{
    background-color: #f3efe8;
}
#beforecontainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0% auto;
}
.beforecontainers {
    width: 24%;
    box-sizing: border-box;
    position: relative;
}
.beforecontainers img {
    width: 100%;
    border: 5px solid white;
    box-sizing: border-box;
}
.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(49, 78, 48, 0.7);
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}
#area {
    
    background: linear-gradient(rgba(224, 220, 219, 0.1), rgba(224, 220, 219, 0.9) 30%), url(images/background.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
#proudly {
    text-align: center;
    font-size: 2.5rem;
    color: #314e30;
    padding-top: 200px;
    font-weight: 600;
    text-transform: capitalize;
}
#subarea {
    text-align: center;
    font-size: 1.5rem;

    color: #0c140c;
    width: 40%;
    margin: 35px auto 0;

}
#dcta{
    display: flex;
    justify-content: center;
}
#cta {
    text-decoration: none;
    color: white;
    background-color: #3b5835;
    padding: 10px 30px;
    border-radius: 7px;
    font-size: 1.5rem;
    text-align: center;
    margin: 90px auto 90px;
}
footer {
    background-color: #f3efe8;
}
#fcontent{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 65%;
    margin: auto;
    padding: 20px 0px;
    height: 100px;
} 
.fbox{
    padding: 10px;
    width: 23%;
    border-right: 1px solid black;
    height: 100%;
}
.fbox:last-child{
    border-right: none;
}   
.fbox img{
    width: 90%;
}