* {
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
}
body {
    margin: 0%;
}
#toppart {
    background-image: url(images/image1.webp);
    
    height: 900px;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 30px;
}
header{
width: 100%;
height: 68px;
margin: auto;
display: flex;
background-color: #f3efe8;
align-items: center;
justify-content: space-between;
}
#logo{
    
    color: #31482e;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    height: 140%;
}
#logo img{
    height: 100%;
    width: clamp(200px, 17vw, 400px);
    margin: auto;
}
nav {
    width: 50%;
    
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    
}
#navbar {
    display: flex;
    justify-content: space-evenly;

    
    padding: 0;
}
#navbar a {
    color: #6c7169;
    
    text-decoration: none;
    font-size: 1.3rem;
}
h2 {
    color: #fbfaf8;
    text-align: center;
    padding-top: 180px;
    font-size: 3.5rem;
    margin-bottom: 30px;
}
#transform {
    background-color: rgba(000, 000, 000, 0.7);
    color: #fafbf1;
    font-size: 1.3rem;
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
#freequote {
    width: 250px;
    color: #e1e7de;
    background-color: #3b5835;
    margin: 25px auto;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 10px;
}
#oser {
    padding-top: 30px;
    
    background-color: #f7f3ee;
}
.hrwrap{
    position: relative;
    
}
.line {
    width: 90%;
    border: 1px solid #d2cfc1;
    margin: auto;
    
    
}
.os {
    position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -50%);
 color: #314e30;
 font-size: 2rem;
 font-weight: 500;
 padding: 0% 20px;
 margin: 0%;
 
 
}
#ser{
background-color: #f7f3ee;
}
#imgcontainerbig{
    display: flex;
    justify-content: center;
   
}
.imagecontainers{
    padding: 0%;
    margin: 0%;
    justify-content: center;
    width: 25%;
    box-sizing: border-box;
    border-right: 1px solid #d2cfc1;
}
.imagecontainers:nth-child(4){
    border-right: none;
}
.imagecontainers img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
#portfolio {
    background-color: #e6e7d6;
}
#oportfolio{
    background-color: #e6e7d6;
}
#beforecontainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0% auto;
}
.beforecontainers {
    width: 24%;
    box-sizing: border-box;
    position: relative;
}
.beforecontainers img {
    width: 100%;
    border: 5px solid white;
    box-sizing: border-box;0
}
.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(49, 78, 48, 0.7);
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}
#area {
    background: url(images/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    
}
#white {
    position: absolute;
    top: 20%;
    right: 0%;
    left: 0%;
    
    height: 80%;
    background-image: linear-gradient(rgba(223, 222, 214, 0.05) 2%, rgba(223, 222, 214, 0.8), rgba(223, 222, 214, 0.9) 80%);
}
#content{
    position: static;
    height: 30px;
       background: linear-gradient(
      rgba(223, 222, 214, 0.9),
      rgba(223, 222, 214, 0.9)
    ),
    url("images/bacgroundc.jpg");
    
}
#harea {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 0%;
    right: 0%;
    font-size: 3rem;
    font-weight: 600;
    color: #314e30;
    text-transform: capitalize;
}
#subarea {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 0%;
    right: 0%;
    font-size: 1.5rem;
    color: #0c140c;
    width: 60%;
    margin: auto;
}