*{
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
}
body {
    background-color: #d7ceb0;
    margin: 0%;
    
    
}
header{
width: 100%;
height: 68px;
margin: auto;
display: flex;
background-color: #bdb8a1;
align-items: center;
justify-content: space-between;
}
#logo{
    
    color: #31482e;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    height: 75%;
}
#logo img{
    height: 110%;
    
    margin: auto;
}
nav {
    width: 50%;
    
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    
}
.navbar {
    display: flex;
    justify-content: space-evenly;

    
    padding: 0;
}
.navbar a {
    color: rgb(27, 77, 62);
    
    text-decoration: none;
    font-size: 1.3rem;
}
.navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}
#thispage {
    text-decoration: underline;
    text-underline-offset: 6px;
}
