* {
    font-family: "Robto Flex", Arial, Helvetica, sans-serif;
}
body {
    margin: 0%;
}
#toppart {
    background-image: url(images/image1.webp);
    
    height: 900px;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 30px;
}
header{
width: 100%;
height: 58px;
margin: auto;
display: flex;
background-color: #f3efe8;
align-items: center;
justify-content: space-between;
}
#logo{
    margin:auto;
    color: #31482e;
    width: 33%;
    text-align: center;
}
nav {
    width: 66%;
    margin-right: 15%;
    margin-left: 20%;
}
ul {
    list-style-type: none;
    
}
#navbar {
    display: flex;
    justify-content: space-between;

    
    padding: 0;
}
#navbar a {
    color: #6c7169;
    padding: 10px;
    text-decoration: none;
    font-size: 1.3rem;
}
h2 {
    color: #fbfaf8;
    text-align: center;
    padding-top: 180px;
    font-size: 3.5rem;
    margin-bottom: 30px;
}
#transform {
    background-color: rgba(000, 000, 000, 0.7);
    color: #fafbf1;
    font-size: 1.3rem;
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
#freequote {
    width: 250px;
    color: #e1e7de;
    background-color: #3b5835;
    margin: 25px auto;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 10px;
}
article {
    padding-top: 30px;
    position: relative;
    background-color: #f7f3ee;
}
#line {
    width: 90%;
    border: 1px solid #d2cfc1;
    
    
}
#os {
    position: absolute;
 top: 27%;
 left: 50%;
 transform: translateX(-50%);
 color: #314e30;
 font-size: 1.6rem;
 font-weight: 500;
 
}
