body{
    padding-top: 30px;
}
form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 30px auto;
}
h1 {
    text-align: center;
    color: rgb(27, 77, 62);
    font-size: 3rem;
    margin: 20px 0;
}
p{
    font-size: 1.5rem;
    color: rgb(27, 77, 62);
}
input, textarea, button {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Roboto Flex", sans-serif;
    outline-offset: 2px;
}
textarea {
    height: 150px;
    resize: vertical;
}
button{
    cursor: pointer;
}