*{
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 3.5rem;
    margin: 40px 0 20px 0;
}
h2 {
    font-size: 2rem;
    margin: 20px 0 40px 0;
}
.services {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.service-container {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 49%;
    font-size: 1.7rem;
}
  
}
.service-container img {
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     width: 100%;
    
}
.service-container p, .service-container h3 {
    padding: 0 20px;
}