body {
    padding-top: 30px;
}
h1, h2 {
    text-align: center;
        color: rgb(27, 77, 62);

}
h1 {
    font-size: 3.5rem;
    margin: 40px 0 20px 0;
}
h2 {
    font-size: 2rem;
    margin: 20px 0 40px 0;
}
.services {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.service-container {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 49%;
    font-size: 1.7rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    background-color: #F9F6EE;
}
  

.service-container img {
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     width: 100%;
    
}
.service-container p, .service-container h3 {
    padding: 0 20px;
}
.services2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;

}
.service-container2 {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 32%;
    font-size: 1.7rem;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
            background-color: #F9F6EE;


}
.service-container2 img {
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     width: 100%;
    
}
.service-container2 p, .service-container2 h3 {
    padding: 20px;
}
.service-container a, .service-container2 a{
    display: inline-block;
    border-radius: 7px;
    margin: 20px;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s;
}
.service-container:hover a, .service-container2:hover a {
    opacity: 1;
}
footer {
    padding-top: 280px;
    position: relative;
    height: 100px;
    background-image: url(images/grass.png);
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
   
}
footer img {
    position: absolute;
  bottom: 43px;
  right: -300px;
  animation: cut 10s linear infinite;

}
@keyframes cut {
  0% {
    right: -300px;
  }
 100% {
    right: 100%;
  }

}